@font-face {
    font-family: "Bittypix";
    src: url("../fonts/BittypixCountdown-92M2.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.control {
    padding: 10px;
    border: 20px solid RGB(189, 189, 189);
    box-shadow: 0 0 10px 5px RGB(128, 128, 128);
    width: 941px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.smile_button {
    padding: 0;
    height: 100px;
    width: 100px;
}

.smile {
    margin: -1px;
    height: 100px;
    width: 100px;
}

.timer {
    font-family: "Bittypix";
    color: red;
    background-color: black;
    font-size: 66px;
}

.seconds {
    font-family: "Bittypix";
    color: red;
    background-color: black;
    font-size: 66px;
}

.field {
    width: 961px;
    display: grid;
    grid-template-columns: repeat(16, 60px);
    border: 20px solid RGB(189, 189, 189);
    box-shadow: 0 0 10px 5px RGB(128, 128, 128);
}

.button {
    padding: 0;
    height: 60px;
    font-size: 24px;
}

.img_button {
    height: 60px;
    width: 60px;
}